{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/home.css') }}">
    <script defer src="{{ url_for('static', filename='/js/forgot_password.js') }}" type="module"></script>
{% endblock %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
    <section id="fgpw">
        <h1>Forgot Password</h1>
        <form id="fgpwForm">
            <input 
                required
                type="text" 
                name="username" 
                placeholder="Username" 
                autocomplete="section-orange username">
            <input 
                required
                type="email" 
                name="email"
                placeholder="Email"
                autocomplete="section-orange email">
            <h6 id="errorMsg"></h6>
            <input type="submit" value="Submit">
        </form>
    </section>

{% endblock %}
