{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/home.css') }}">
    <script defer src="{{ url_for('static', filename='/js/reset_password.js') }}" type="module"></script>
{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <section id="rspw">
        <h1>Reset Password</h1>
        <form id="rspwForm">
            <input 
                required
                type="text" 
                name="username" 
                placeholder="Username" 
                autocomplete="section-green username">
            <input 
                required
                type="text" 
                name="OTP" 
                placeholder="OTP">
            <input 
                required
                type="password" 
                name="new_password"
                minlength="8"
                placeholder="New Password (min 8 characters)"
                autocomplete="section-green new-password">
            <h6 id="errorMsg"></h6>
            <input type="submit" value="Submit">
        </form>
    </section>

{% endblock %}
